<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
      <h1>About the App</h1>
      <p>
        This app utilizes the OpenAI API and Express/Mongoose/EJS framework.
        It allows a user to input a gpt prompt and get a response that creates a story about a superhero and their archnemesis.
      </p>
    </body>
</html>