<!DOCTYPE HTML>
<style>
  h1 {
      font-weight: 700;
      font-size: 100px;
      line-height: 0.5;
      text-decoration: dotted;
  }
</style>
<html>
    <head>
        <title>GPT APP</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
      <body>
        <h1>GPT</h1>
        <h1 style = "text-indent: 10%;">APP</h1>
      </body>
</html>