<!DOCTYPE html>
<style>
  .about {
        padding: 30px;
        border-radius: 10px 40px;
        background-color:#decddd;
    }
    img{
        float:left;
        padding-right:20px;
    }
</style>
<html>
  <head>
    <title>GPT APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The Team</h1><br>
    <div class = "about">
        <img src="/images/gnomecan1.png" width="100px">
        <h2 onclick="document.location= 'https://github.com/EfrenHaskell'"><b>Kelden Dorji</b></h2>
        <p>keldendorji@brandeis.edu</p>
        <p> -Computer Science Student</p>
        <p> -COOL</p>
        <p> -UNKNOWN</p>
    </div>
  </body>
</html>