<br>
<br>
   <style>
   .center {
    text-align: center;
    }</style> 
    
    <div class="center">
        <h1 text-align= center>APP</h1>
        <p text-align = center> 
        <font size = "4">
            Select one of the options
        </font>  
        </p>
        <!-- Here we show how to encode a URI and get weather data -->
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class="center">
        
        <a class="btn btn-danger"
                href="/index/poems">Poem maker</a>
        <a class="btn btn-danger"
                href="/index/summaries">Summary maker</a>
        <a class="btn btn-danger"
                href="/index/superhero">Superhero Maker</a>